/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*
{
    box-sizing:border-box;
}



/* ##################################################################### */
/* ###########################   SMARTPHONE   ########################## */
/* ##################################################################### */
/* Extra small devices (phones, less than 641px) */

/* ----------------- HEADER -------------------*/
/* ------------------------------------------- */

/* TOP BAR */
.top-bar-right, .menu, .menu li, .menu a
{					   
    height:100% !important;
    color:#fff;
}

.menu li a:hover
{
    background-color:#fff;
    color:#2980b9;
    transition:background .5s ease-in, color .5s ease-in;
}

header h3
{
    color:#fff;
}

.top-bar
{
    position:fixed;
    z-index:10;
    background-color: transparent;
    width:100%;
}

.menu
{
    background-color: transparent !important;
}

.menu li a
{
    line-height:1.9375rem;
}

/* ----------------- FOOTER -------------------*/
/* ------------------------------------------- */

.footer
{
    margin-top:30px;
    background-color: #2980b9;
    padding: 2rem 4rem;
    text-align: center;
    color: #fff;
}

.footer .big
{
    font-size: 100px;
}

.footer .litle
{
    margin-right:8px;
}

.footer h4
{
    color: #fff;
    font-size: 1em;    
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
}

.footer p, .footer a
{
    font-weight: 300;
    font-size: .8em;
    color: #fff;
}

@media only screen and (min-width: 40.063em)
{

    .footer .columns:nth-child(n+2)
      {		 
	  border-left: 1px solid #b3b3b3;
	  min-height: 280px;
      }
}

.footer-links
{
    list-style-type: none;
}

.footer-links li
{
    margin-top: .5em;
}

/* ------------INDEX.HTML---------- */

/* CAROUSEL */
.orbit
{    
    position:absoluite;
    top:0;
}

.orbit-container, .orbit-slide
{
    height:40vh;
}

.orbit-slide
{
    vertical-align:top;
}

/* SECTION 1 */
img
{
    display:block;
}

.scrolled
{
    background-color:#2980b9;
}
.section1
{
    font-size:1.15em;
    color:white;
    background-color:grey;
    padding:15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.full-width
{
    max-width: 1400px;
}

/* ---------- CONTACT.HTML --------- */

/* HEADER */

.tbc, .tbc .menu
       {
	       background-color: #2980b9 !important;
       }

.contact
{
    padding:130px 0 80px;
}

/* ---------- PRICE.HTML --------- */
.prices
{
    padding:120px 0 20px;
}

.pricing-table
{
    border: solid 1px #DDDDDD;
}

.pricing-table li
{
    border-bottom: dotted 1px #DDDDDD;
    font-size: 0.75rem;
    padding: 0.875rem 1.125rem;
}

.pricing-table li:last-child
		      {
    border-bottom: 0;
}

.pricing-table .title
{
    background-color: #333333;
    color: #EEEEEE;
    font-size: 0.875rem;
    border-bottom: 0;
}

.pricing-table .price
{
    background-color: #F6F6F6;
    color: #333333;
    font-size: 1.75rem;
    border-bottom: 0;
}

.pricing-table .description
{
    color: #777777;
    font-size: 0.625rem;
}

.pricing-table .button
{
    margin: 0;
}

/* ##################################################################### */
/* ############################   TABLETS   ############################ */
/* ##################################################################### */
/* Small devices (tablets, 641px and up) */
   @media (min-width: 40em) {
       .section1
       {
	   margin:3% auto;
       }
   }

/* ##################################################################### */
/* ############################   DESKTOPS   ########################### */
/* ##################################################################### */
/* Medium devices (desktops, 1025px and up) */
   @media (min-width: 1216px) {
       .section1
       {
	   border-radius:5px;
       }
   }

/* ##################################################################### */
/* ########################   LARGE DESKTOPS   ######################### */
/* ##################################################################### */
/* Large devices (large desktops, 1441px and up) */
   @media (min-width: 1441px) {
    
   }

/* ##################################################################### */
/* #####################  EXTRA LARGE DESKTOPS   ####################### */
/* ##################################################################### */
/* Extra Large devices (extra large desktops, 1921px and up) */
  @media (min-width: 1921px) {

  }












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
